body{
    box-sizing: border-box;
    background-color: rgb(249, 248, 248);
    font-family: poppins;
}

button{
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::selection{
    background-color: #7388f3;
}

#navbar {
    position: fixed;
    top: -100px;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 2px 10px 20px rgb(62, 61, 61);
    transition: top 0.5s ease;
}

#logo{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 0;
    border: 1px solid black;
}

.fir-body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); 
}

.inner-fir-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;  
}

.inner-fir-body{
    display: flex;
    flex-direction: row;
}

.fir-body-content{
    color: black;
}

#fir-body-h3{
    font-size: 18px;
    font-weight: 500;
}

#fir-body-h1{
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

#fir-body-p{
    margin-top: 30px;
}

.fir-body-content{
    width: 450px;
}

#my-img{
    width: 250px;
    height: 100%;
}

.about{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 0 20px;
}

.about-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

#qr-code{
    width: 300px;
    height: 330px;
    padding: 8px;
    border: 8px solid black;
    transition: background-image 0.3s ease;
}

#qr-code:hover{
    background-image: linear-gradient(#4158D0 0%, #C850C0 46%, #FFCC70 100%);
    cursor: pointer;
}

.about-content-2{
    width: 400px;
}

#about-h3{
    font-size: 18px;
    font-weight: 500;
}

#about-h1{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about-p{
    margin-top: 30px;
}

.service{
    width: 100%;
    height: 90vh;
}

.inner-service{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#service-i{
    font-size: 35px;
}

.service-content{
    margin-top: 10vh;
}

.service-content-2{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service-grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

#service-h2{
    font-size: 20px;
    margin-top: 10px;
}

#service-grid-items{
    width: 23vw;
    cursor: pointer;
}

#service-grid-items:hover #service-i{
    color: #4158D0;
    transition: 0.3s;
}

#service-grid-items:not(:hover) #service-i{
    transition: 0.2s;
}

.counter{
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(45deg, #4158D0 40%, #C850C0 50%); 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
}

.counter-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    width: 100%;
}

.counter-items{
    color: #E8E8E8;
    display: flex;
    flex-direction: column;
}

.counter-items i{
    font-size: 70px;
    text-align: center;
    cursor: pointer;
}

.counter-items i:hover{
    color: rgb(225, 197, 6);
}

.counter-items div{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

.counter-items h3{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    font-weight: 300;
}

.projects{
    width: 100%;
    height: auto;
}

.inner-projects{
    margin-top: 12vh;
}

.projects-content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#projects-h1{
    font-size: 35px;
    font-weight: 650;
    line-height: 50px;
}

#projects-h3{
    font-size: 15px;
    font-weight: 400;
}

.projects-content-2{
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.projects-grid-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}

#projects-grid-img{
    width: 400px;
    height: 230px;
    padding: 14px;
}

#projects-grid-items:hover #projects-grid-img{
    transform: scale(1.2);
    transition: 0.3s;
}

#projects-grid-items:not(:hover) #projects-grid-img{
    transition: 0.2s;
    filter: blur(1.5px);
    transform: rotate(5deg);
}

#projects-grid-items{
    border: 10px solid rgb(87, 82, 82);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-grid-h3{
    font-size: 20px;
    margin-top: 20px;
    border-top: 2px solid gray;
    padding-bottom: 10px;
}

@media only screen and (max-width: 426px) {
    #logo{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }

    #nav-li-h3{
        font-size: 14px;
    }

    #nav-li-bars{
        display: block;
        position: absolute;
        right: 0;
        margin-right: 20px;
        font-size: 25px;
    }

    .main-nav{
        box-shadow: none;
    }

    #nav-li{
        display: none;
    }

    .inner-fir-body{
        flex-wrap: wrap;
    }

    #my-img{
        width: 200px;
        margin-top: -40px;
    }

    #fir-body-h1{
        font-size: 35px;
    }

    .fir-body-content{
        width: 300px;
    }

    .about {
        flex-direction: column; 
        height: auto; 
        margin-top: 25px;
    }

    .about-inner {
        flex-direction: column; 
        align-items: center;
    }

    #qr-code {
        width: 150px;
        height: 150px;
        margin-bottom: 20px; 
    }

    .about-content-2 {
        width: 100%; 
        text-align: center; 
    }

    #about-h1 {
        font-size: 24px;
    }

    #about-h3 {
        font-size: 12px;
    }

    .service{
        height: auto;
    }

    .service-content{
        width: 90%;
    }

    .service-content-2{
        margin-top: 5vh;
        height: auto;
        width: 100%;
    }

    .service-grid-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #service-grid-items{
        width: 80%;
    }

    .counter-items i{
        font-size: 45px;
    }

    .counter{
        height: 60vh;
    }

    .counter-items h3{
        font-size: 20px;
    }

    .counter-div{
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        height: 100%;
    }

    #projects-h1{
        font-size: 25px;
    }

    #projects-h3{
        font-size: 12px;
    }

    .projects-grid-container{
        flex-wrap: wrap;
    }
}

